@font-face {
  font-family: "Cabinet Grotesk";
  src: url("cabinet-grotesk/CabinetGrotesk-Extrabold.woff") format("woff");
}

:root {
  --primary-color: #521af1;
  --desaturated-primary: #987ce7;
  --dark-color: #250b6c;
  --light-color: #e4dbff;
  --text-color: #1f1f1f;
  --subtitle-color: #999999;
  --line-color: #333333;
  --light-line-color: #e8e8e8;
  --light-font-color: #a7a7a7;
  --light-background: #f8f8f8;
  --red: #cc0000;
  --red-light: #fee2e2;
  --red-light-border: #f9cccc;
  --red-dark: #9a0a0a;
  --annotation-color: #fa1ee4;
  --light-yellow: #fffbdb;
  --light-red: #ffe8db;
  --light-blue: #dbf8ff;
  --light-green: #dcffdb;
  --hyperlink: #1a70f1;
  --heading-font: "Geologica";
  --body-font: "Geologica";
}

html,
body,
#root,
#root > div {
  height: 100%;
}

html {
  overflow: hidden;
}

button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--light-background);

  border: 1px solid var(--line-color);
  border-radius: 4px;

  padding: 8px;
  margin: none;

  font-family: var(--body-font);
  font-weight: 400;
}

select {
  padding: 8px;

  border-radius: 4px;
  border-color: var(--light-line-color);

  background-color: var(--light-background);
}

a {
  color: var(--hyperlink, #1a70f1);

  /* Body */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.12px;

  text-decoration: none;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--light-line-color);
}

table th,
table td {
  border: 1px solid var(--light-line-color);
  padding: 8px;
}
