.extraQuestions {
    margin-bottom: 12px;
}

.packetColumn {
    border-collapse: collapse;
}

.questionTab {
    width: 150px;
    padding: 8px;

    border: 2px solid var(--light-line-color);

    touch-action: none;
}

.questionRow {
    display: flex;
}

.questionSlot {
    
    width: 200px;
    padding: 8px;    
    
    border: 1px solid var(--light-line-color);
}

.questionDiv {
    display: flex;
    align-items: center;    
    column-gap: 8px;
}