.extraQuestions {
  margin-bottom: 12px;
}

.packetColumn {
  border-collapse: collapse;
}

.questionRow {
  display: flex;
}

.questionSlot {
  width: 200px;
  padding: 8px;

  border: 1px solid var(--light-line-color);
}

.questionDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.questionTab {
  width: 150px;
  padding: 8px;

  border: 2px solid var(--light-line-color);

  font-size: 12px;
  font-weight: 500;

  touch-action: none;
}

.authorTag {
  font-size: 12px;
  font-weight: 400;
}
