@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

.loginPageDiv {
  display: flex;
}

.showoffDiv {
  display: flex;
  flex-direction: column;

  background: var(
    --login-gradient,
    linear-gradient(145deg, #e2c1ff 0%, #6876f9 50.52%, #521af1 100%)
  );

  min-width: 700px;
  width: 800px;
  max-height: 100%;

  padding: 40px;
}

.loginSectionDiv {
  width: 640px;
  padding: 128px;

  display: flex;
  flex-direction: column;

  gap: 32px;
}

.image {
  /* filter: drop-shadow(4px 4px 4px rgba(0,0,0,.25)); */
  border-radius: 6px;
}

.imageBackground {
  margin-top: 40px;
  margin-right: 60px;
  padding: 8px;
  border-radius: 6px;
  background-color: white;
  filter: drop-shadow(6px 6px 6px rgba(255, 255, 255, 0.4));
}

.flex {
  display: flex;
  align-items: flex-start;

  flex: 1;
}

.reverseRow {
  flex-direction: row-reverse;
}

.quoteFlex {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 144px;
  left: 387px;
  width: 380px;
  row-gap: 24px;
}
.quoteQuote {
  position: absolute;
  top: 41px;
  left: 367px;
  font-size: 300px;
  font-family: "Cabinet Grotesk";
  color: rgba(255, 255, 255, 0.5);
}

.quoteName {
  font-size: 60px;
  color: white;
  font-family: var(--heading-font);
  font-weight: 900;
  font-variation-settings: "SHRP" 100;
}

.quoteDescription {
  font-size: 24px;
  line-height: 130%;
  color: white;
  font-family: "Inter";
}

.loginInputDiv {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  align-self: stretch;
}

.loginInput {
  padding: 12px;
  border: 1px solid var(--light-line-color);
  border-radius: 4px;
}

.loginButton {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  width: 100%;

  color: white;
  border: 0px;
  border-radius: 4px;
  background: linear-gradient(90deg, #e2c1ff 0%, #6876f9 50.52%, #521af1 100%);
}

.loginRegisterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}
